*{
    padding:0;
    border:0;
    margin: 0;
    list-style: none;
    background-color: rgb(83, 83, 83);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    display: block;
    
    margin: 1rem;
}
header img{
    border-radius:1rem;
    border:solid white 0.1rem;
}
ul{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
li{
    margin:0.5rem
}
.icon-user, .icon-map-pin, .icon-mail{
    padding: 0.6rem;
    font-size: 6rem;
    background-color: rgb(109, 108, 108);
    border-radius: 2.5rem;
    border:solid black 0.16rem;
}
section{
    margin: 1rem;
    display: flex;
    justify-content: center;
}
article{
    padding: 1rem;
    display: none;
    border-radius: 0.2rem;
    border: solid black 0.15rem;
}
article p{
    font-size: 1.5rem;
    color: rgb(214, 214, 214);
    margin: 0.5rem;
}